:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212529;
  background-color: #ffffff;

  /* dark: #212529 */
  /* white: #f8f9fb */
  /* light-dark: #9b9b9b */
  /* light blue: #83b8bf */
  /* light grey: #eef2f3 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: #f0eceb;
}

